- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html( lang=content.lang )
	include pug/_header.pug
	body
		main
			h1 Hello sir
			h2 How are you
		include pug/_footer.pug